{% extends "learning_logs/base.html" %}

{% block content %}
		<div id="header">
			<h1 class="hover"><p style="font-family:verdana"> <p style="font-size:50px">Information about myself</p></h1>
			<p id="name"><p style="font-family:verdana"> <p style="font-size:30px">Jerou Jeuell U. Espelita</p>
			<a href="mailto:1820158@ub.edu.ph><p id="email">1820158@ub.edu.ph</p></a>
			<p>or</p>
			<a href="mailto:jeroujeuell312@gmail.com><p id="email">jeroujeuell312@gmail.com</p></a>

		</div>
		<h2><p style="font-family:verdana"> <p style="font-size:50px">Myself</p></h2>
			<img src="https://live.staticflickr.com/65535/52160536507_45e63904ca_s.jpg">
		<h2><p style="font-size:50px">About Me</p></h2>
			<p style="font-family:verdana"> <p style="font-size:30px">My name is Jerou Jeuell Espelita. I have lived in both Brgy Kayumanggi and Brgy 1 in Lipa City.
			Some of my favorite things to do are read, 
			listen to music, and ride bicycle.
			These are activities that I enjoy immensely and indulge in daily.
			I look up mostly to my family members, especially
			my mom, as a guiding figure in life. I also love watching movies and animes.</p>
			<h2>Favorite Movies</h2>
			<ul>
				<li><p style="font-family:verdana"> <p style="font-size:30px">Inception</p></li>
				<p><p style="font-family:verdana"> <p style="font-size:30px">Interstellar</p></li>
				<li><p style="font-family:verdana"> <p style="font-size:30px">Ready Player One</p></li>
				<li><p style="font-family:verdana"> <p style="font-size:30px">Inside out</p></li>
				<li><p style="font-family:verdana"> <p style="font-size:30px">Prisoners</p></li>
			</ul>
			<h2><p style="font-family:verdana"> <p style="font-size:50px">Favorite Anime</h2>
			<table border="1"> 
				<tr>
					<td><p style="font-family:verdana"> <p style="font-size:30px">One Piece </p></td>
					<td><p style="font-family:verdana"> <p style="font-size:30px">Attack on Titan</p></td>
					
				</tr>
				<tr>
					<td><p style="font-family:verdana"> <p style="font-size:30px">My Hero Academia</p></td>
					<td><p style="font-family:verdana"> <p style="font-size:30px">Black Clover</p></td>
				</tr>
				<tr>
					<td><p style="font-family:verdana"> <p style="font-size:30px">Bungou Straydogs</p></p></td>
					<td><p style="font-family:verdana"> <p style="font-size:30px">Vinland Saga</p></td>
				<tr>
			</table>
		<p>Purok 4, Brgy Kayumanggi<p>

{% endblock content %}