{% extends "learning_logs/base.html" %}

{% block header %}
    <div class='jumbotron'>
        <h1>Object Oriented Programming</h1>
    </div>
{% endblock header %}

{% block content %}
    <h2>
        <img src="https://live.staticflickr.com/65535/52161606716_7c16e037c7_s.jpg" widht= 200 height =200>
    </h2>
    <h2>
        Object Oriented programming (OOP) is a programming paradigm that relies on the concept of classes and objects. 
        It is used to structure a software program into simple, reusable pieces of code blueprints (usually called classes), which are used to create individual instances of objects
    </h2>
    <h2>
        OOP focuses on the objects that developers want to manipulate rather than the logic required 
        to manipulate them. This approach to programming is well-suited for programs that are large, 
        complex and actively updated or maintained. This includes programs for manufacturing and design, 
        as well as mobile applications; for example, OOP can be used for manufacturing system simulation 
        software.
    </h2>
{% endblock content %}
